@import url(
'https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: linear-gradient(315deg, rgb(34, 33, 33) 0%, rgb(100, 8, 100) 74%);
  overflow: hidden;
  overflow-y: scroll;
  font-family:'Bold', sans-serif;
}

.logo{
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 0.8rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
    
}

h1 {
  text-align: center;
  background-color: Black;
  padding: 2rem;
  border-radius: 2.5rem;
  margin: 03rem;
  font-size: 3rem;
  font-family: 'Bold', Georgia, 'Times New Roman', Times, serif;
  color: #1dd3e0;
  padding: 1.5rem;
}

h2{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  padding-bottom: 20px;
}

h4{
  color: #1dd3e0;
}

input{
  width: 400px;
  height: 38px;
  font-size: 20px;
  padding-left: 10px;
}

.searchBox > button{
  background-color: #1dd3e0;
  height: 38px;
  width: 60px;
  border: none;
  color: white;
  box-shadow: 0px 3px 2px #f53817;
  cursor: pointer;
  padding: 0;
}

.showResults{
  font-weight: 800;
  font-family: 'bold', sans-serif;
  width: 500px;
  padding: 20px;
}

.showResults > h2 > button{
  background: none;
  border: none;
  cursor: pointer;
}
